@import url('https://fonts.googleapis.com/css?family=News+Cycle');
html {
    background-color: bisque;
}

body {
    margin: 0 15% 0 15%;
    background-color: white;
}

img {
    padding-top: 0;
    margin-top: 0;
    float: left;
    width: 10%;
    height: 10%;
}

div {
    margin: 0 5% 0 5%;
    font-family: 'News Cycle';
    clear: both;
}

#sto {
    text-align: center;
}

a:link {
    color: '#BF5B04';
    text-decoration: none;
}

a:visited {
    color: '#8C0808';
    text-decoration: none;
}

a:hover {
    color: '#8C0808';
    text-decoration: none;
}

a:active {
    color: '#8C0808';
    text-decoration: none;
}